option_settings:
    aws:elasticbeanstalk:container:php:phpini:
        document_root: /web
        memory_limit: 128M
        zlib.output_compression: Off
        allow_url_fopen: On
        display_errors: Off
        max_execution_time: 60
        composer_options: --no-suggest vendor/package
    files:
        "/etc/php.d/99mp_psql.ini":
            mode: "000755"
            owner: root
            group: root
            content: |
           extension=php_pdo_pgsql.so
            encoding: plain